#docs {
  color: aqua;
  width:90vmax;
  height: 98vh;
  border-left: 1px #8064a9 solid;
  
}



body {
  margin: 1vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  align-content: flex-end;
}

summary {
  list-style: '📁';
  font-size: 16pt;
  cursor: pointer;

}




li {
  list-style: '📃';
  font-size: 12pt;
  cursor: pointer;
}

section{
  width: 10vmax;
  padding: 30px;
  padding-left: 140px;
}

#appbar {
  display: none;
}
/* 
#hide {
  position: fixed;
  top: 0px;
  left:30px;
} */


@media screen and (max-width: 768px) {
  #appbar {
    top: 0;
    width: 100%;
    
    position: fixed;
    display: block;
    border-bottom: 1px #8064a9 solid;
    padding: 10px;
    padding-left: 40px;
    background-color: white;
    z-index: 1;
  }
  #folding {
    list-style: '🍳';
    font-size: 23px;
    margin-bottom: 4px;
    
  }



  #folding ~ div {
    padding-left: 20px;
  }
  #spc{
    display: none;
  }
  #docs {
    margin-top: 40px;
    border-left: 1px #8064a9 none;
    margin-left: 0;
    padding-left: 0;
    left: -40px
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    align-content: flex-end;
  }

  #docs-wrapper {
    position: relative;
    left: -80px;
  }
}